.EditProduct>form {
    width: 300px;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;

}

.EditProduct input,
.EditProduct button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}



.EditProduct .image-container {
    display: flex;
    margin-bottom: 10px;
}

.EditProduct .image-container>img {
    width: 40px;
}