html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, skyblue, white);
    color: blueviolet
}

a {
    color: blue;
}

form {
    width: 300px;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

form>input,
form>select,
form button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.addBtn {
    display: flex;
    position: absolute;
    right: 20px;
    top: 40px;
}

.addBtn img {
    width: 50px;
    height: 50px;
}