.EmployeesList>table,
.EmployeesList th {
    margin: 40px auto;
    border: 1px solid;
}


.EmployeesList .addBtn {
    display: flex;
    position: absolute;
    right: 20px;
    top: 40px;
}

.EmployeesList .addBtn img {
    width: 50px;
    height: 50px;
}